html {
    background: rgb(131, 58, 180);
    background: linear-gradient(155deg, rgba(131, 58, 180, 1) 17%, rgba(193, 75, 31, 1) 75%, rgba(252, 176, 69, 1) 100%);
    height: 100%;
}

h1 {
    font-family: "Helvetica Neue";
    size: 7em;
    color: #FFFAFA;
    text-align: center;
}

h2 {
    font-family: "Helvetica Neue"; size: 5em;
    color: #FFFAFA
}

body {
    margin-left: 20%;
    margin-right: 30%;
}

input {
    border: 3px solid #555;
    height: 3em;
    width: 98%;
}

select {
    border: 3px solid #555;
    height: 3em;
    width: 100%;
}

input:focus {
  border: 3px solid #FFFAAA;
}

label {
    font-family: "Helvetica Neue", serif; font-size: 1.5em; color: #FFFAFA
}

.result {
    font-family: "Helvetica Neue", serif; font-color: #FFFAFA
}

.placeholder {
    font-size:2em;
}

button {
    width: 100%;
    align: center;
    background-color: #dbcf72;
    height: 3em;
    border-radius: 6px;
}

table{
    width:100%;
}
table td{
    white-space: nowrap;
}
table td:last-child{
    width:100%;
}