<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Routes Visualiser</title>
    <link rel="stylesheet" href="static/styles.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.3/jquery.min.js"></script>
    <link href="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/css/select2.min.css" rel="stylesheet" />
    <script src="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/js/select2.min.js"></script>
</head>
<body>
<h1>Routes Visualiser v.0.3</h1>
<h2>Step 1. Choose an airline from list:</h2>
    <table width="100%">
    <tbody>
    <tr>
    <td><label for="airline-selector" name="airline">Airline:</label></td>
    <td>
        <select id="airline-selector" class="airline-selector" style="width: 100%"></select>
        <script src="js/list-fetcher.js" type="text/javascript"></script>
    </td>
    </tr>
    <tr>
    <td style="width: 100%;" colspan="2">
        <button type="submit" onclick="selectAirline()">Select Airline</button>
        <script src="js/select-button-processing.js"></script>
    </td>
    </tr>
   <tr>
        <td style="width: 100%;" colspan="2">
            <h2 id="header-step-2" hidden="true">Step 2. Choose an aircraft from list:</h2>
            <span id="aircraft-types" hidden="true">
            </span>
        </td>
    </tr>
    <td><label id="label-step-2" hidden="true" for="aircraft">Aircraft Type: </label></td>
    <td><input type="text" id="aircraft" name="aircraft_type" hidden="true" placeholder="Select Aircraft from list above"></td>
    </tr>
    <tr>
    <td style="width: 100%;" colspan="2">
        <button id="button-step-2" hidden="true" type="submit" onclick="fetchRoutes()">Get Routes</button>
        <script src="js/get-routes-button-processing.js"></script>
    </td>
    </tr>
    </tbody>
    </table>
<h2 id="header-step-3" hidden="true">Step 3. Enjoy the result:</h2>
<h3 id="header-step-3-1" hidden="true">Planes: </h3>
<div class="result" id="aircraftList" hidden="true"></div>
<h3 id="header-step-3-2" hidden="true">Routes operated by {{chosen_airline}} on {{chosen_aircraft}} last week:</h3>
<div class="result" id="routesList" hidden="true"></div>
<h3 id="header-step-3-3" hidden="true">Map Link for routes operated last week on {{chosen_aircraft}} by {{chosen_airline}}:</h3>
<div class="result" ><a id="link" hidden="true" href="{{GCMapLink}}" target="_blank" rel="noopener noreferrer">LinkText</a></div>
    <footer class="site-footer">
        <span id="timestamp">Airlines List updated on </span>
        <script></script>
    </footer>
</body>
</html>