<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Routes Checker</title>
    <link rel="stylesheet" href="/static/styles.css">
</head>
<body>
<h1>LMAO Upper Text</h1>
<h2>Input</h2>
<form action="{{ url_for('index')}}" method="post">
<label for="airline">Airline:   </label>
<input type="text" id="airline" name="airline" placeholder="Enter airline code"><br>
<label for="aircraft">Aircraft Type: </label>
<input type="text" id="aircraft" name="aircraft_type " placeholder="Enter code of aircraft (leave empty to see options)">
    <button type="submit">YARRR</button></form>

<div>{{FleetList}}</div>
<h2>Planes: </h2>
<div class="result" contentEditable="true">{{AircraftList}}</div>
<h2>Routes:</h2>
<div class="result" contentEditable="true">{{RoutesList}}</div>
<h2>Map Link:</h2>
<div><a href="{{GCMapLink}}" target="_blank" rel="noopener noreferrer">{{LinkText}}</a></div>
</body>
</html>